div{
    
    
}
img{
    max-width: 100%;

}
#mydiv{
    transform:rotateX(90deg)
}

.link_button{
    
    text-decoration: none;
    color:white;
    
}
button{
    background-color: blue;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
}