html
head
   title Person
   body
      form(action = "/personlogin", method = "POST")
        
         div
            label(for = "mail") Mail: 
            input(name = "mail", placeholder="xyz@appzminetech.com")
         br
         div
            label(for = "password") Password: 
            input(name = "password", placeholder= "text+num+specialChar")
         br
         button(type = "submit") Login