<h1>{{servicedata}}</h1>
<h2>hello all ! we are learning angular 9</h2>
{{title}} 

<h2>{{firstvariable}}</h2> <!--calling variable-->


<!-- {{show()}} -->        <!--calling function-->
<!-- {{"I am string written inside the interpolation symbole"}} -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="form">Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="templatefrm">Load template Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reactivefrm">Load reactive Form</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<router-outlet></router-outlet> 
<!--  -->
<!-- to display the title present in app.component.ts on 
output screen,we are using {{}} interpolation symbole.
app.component.ts is the main file out of four app.component file to 
handle all three files i.e. app.component.css, app.component.html & 
app.component.spec.ts
interpolation is used for
1. to use variables 
2. to call functions
3. to create string
4. ternary operator-->

<!-- ternary operator -->
<!-- {{x>y ? "x is greater" : "y is greater"}} -->

<!-- property binding
variable binding -->

<!-- <input type="text" [value]="firstvariable" /> <!--property binding-->
<!-- <input type="text" value="{{firstvariable}}"/> <!--binding using interpolation-->
<!--  -->
<!--<div hidden="{{isHidden}}">this is hidden by interpolation</div> --> 
<!-- interpolation binding does not deal with boolean values -->
<!-- <div [hidden]="isHidden">this is hidden by property binding</div>-->

<!-- event binding -->

<!-- <button (click)="show()" >calling show function</button>

<app-form></app-form>


<button class="btn btn-primary">click me</button>
<button class="btn btn-secondary myclass">press me</button>
<button class="btn btn-secondary" class="myclass">press me</button> in last example of class only 2nd class will apply to show output -->
<!-- <button [class.myclass]="isHidden" [style.color]="mycolor">click here</button>
<button [class.myclass]="isHidden" [style.color]="isHidden ? 'blue':'red'">click here</button> -->


<!-- to apply border or not to apply border with 
    isHidden boolean true false, means if isHidden 
    is true then border will apply and if false then 
    border will not apply, to make it true or false we need to go to 
app.component.ts file -->
<!-- <button [ngClass]="['btn', 'btn-info']">info button</button>
<button [ngClass]="{'btn':true,'btn-info':false}">info button</button>
<button [ngClass]="myclassarray" (click)="changecolor()">Danger button</button> --> 

<!-- template variable 
#fname
-->
<!-- <input type="text" value= "firstname" #fname />
<button (click)="getvalue(fname.value)">click me</button>  -->
<h2>your form is here kindly fill it</h2>
<input type="text" value="FIRST NAME" #fname/>
<button (click)="get1value(fname.value)">click to show</button>
<br>
<input type="text" value="LAST NAME" #lname/>
<button (click)="get2value(lname.value)">click to show</button>
<br>
<input type="text" value="GENDER" #gndr/>
<button (click)="get3value(gndr.value)">click to show</button>
<br>
<input type="text" value="INSTITUTE NAME" #insti/>
<button (click)="get4value(insti.value)">click to show</button>
<br>
<input type="number" value="10 DIGITS ONLY" #contnumber/>
<button (click)="get5value(contnumber.value)">click to show</button>
<br>
<input type="email" value="ABC@XYZMAIL.COM" #Email/>
<button (click)="get6value(Email.value)">click to show</button>
<br>
<input type="text" value="CITY NAME" #cty/>
<button (click)="get7value(cty.value)">click to show</button>
<br>
<input type="text" value="STATE NAME" #stte/>
<button (click)="get8value(stte.value)">click to show</button>
<br>
<input type="text" value="COUNTRY NAME" #cntry/>
<button (click)="get9value(cntry.value)">click to show</button>
<br>

<p>your first name is {{firstname}}</p>
<p>your last name is {{lastname}}</p>
<p>your gender is {{gender}}</p>
<p>your institute name is {{institute}}</p>
<p>your contact number is {{contact}}</p>
<p>your email address is {{email}}</p>
<p>your city name is {{city}}</p>
<p>your state name is {{state}}</p>
<p>your country name is {{country}}</p>

<!-- two way binding 
[(ngModel)]
=> banana in a box
-->

<!-- <input type="text" [(ngModel)]="myvar"/>
<h3>{{myvar}}</h3>

<input type="text" value="type ur first name" [(ngModel)]="myobj.fname"/>
<h3>{{myobj.fname}}</h3>

<input type="text" value="type ur last name" [(ngModel)]="myobj.lname"/>
<h3>{{myobj.lname}}</h3>

<input type="text" value="type ur gender" [(ngModel)]="myobj.gender"/>
<h3>{{myobj.gender}}</h3>

<input type="text" value="type ur institute name" [(ngModel)]="myobj.institute"/>
<h3>{{myobj.institute}}</h3>

<input type="text" value="type ur contact " [(ngModel)]="myobj.contact"/>
<h3>{{myobj.contact}}</h3>

<input type="text" value="type ur email " [(ngModel)]="myobj.email"/>
<h3>{{myobj.email}}</h3>

<input type="text" value="type ur city name" [(ngModel)]="myobj.city"/>
<h3>{{myobj.city}}</h3>

<input type="text" value="type ur state name" [(ngModel)]="myobj.state"/>
<h3>{{myobj.state}}</h3>

<input type="text" value="type ur country name" [(ngModel)]="myobj.country"/>
<h3>{{myobj.country}}</h3>
<br>
<button (click)= "getdata()" [ngStyle]="mystyle">show data</button>
<p>your first name is {{myobj.fname}}</p>
<p>your last name is {{myobj.lname}}</p>
<p>your gender is {{myobj.gender}}</p>
<p>your institute name is {{myobj.institute}}</p>
<p>your contact number is {{myobj.contact}}</p>
<p>your email address is {{myobj.email}}</p>
<p>your city name is {{myobj.city}}</p>
<p>your state name is {{myobj.state}}</p>
<p>your country name is {{myobj.country}}</p>

directives
1. attribute directives
[ngclass],[ngstyle]

2.structural directives
1. if -else
2. for each
3. switch case
-->
<!-- <h3>ngIf ka usage</h3>
<div *ngIf= "x>y">
    x is greater
</div>

<div *ngIf= "x<y" >
    y is greater
</div>
<h3>ngIf else ka usage</h3>
<div *ngIf= "x>y; else elseWalaPart">
    x is greater
</div>
<ng-template #elseWalaPart>
    y is greater
</ng-template>
<br>
<br>
<h3>ngIf me If and else ka usage</h3>
<div *ngIf= "x>y; then ifWala else elseWala">
</div>
<ng-template #ifWala>
    y is greater
</ng-template>
<ng-template #elseWala>
    y is greater
</ng-template>

<h3>now nested if else</h3>
<div *ngIf= "x>y; then if1 else else1">
</div>
<ng-template #if1>
    <ng-container *ngIf= "x>z; then if2 else else2"></ng-container>
    <ng-template #if2>x is greater than z</ng-template>
    <ng-template #else2>z is greater than x</ng-template>
</ng-template>
<ng-template #else1>
    <ng-container *ngIf= "y>z; then if3 else else3"></ng-container>
    <ng-template #if3>y is greater than z</ng-template>
    <ng-template #else3>z is greater than y</ng-template>
</ng-template>

<h3>task no 1 for if else</h3>
<input type="number"  #lnumber/>
<button (click)="getLnumber(lnumber.value)">click to show</button>
<br><br>
<input type="number"  #mnumber/>
<button (click)="getMnumber(mnumber.value)">click to show</button>
<br><br>
<input type="number"  #nnumber/>
<button (click)="getNnumber(nnumber.value)">click to show</button>

<p>your first number is {{firstnumber}}</p>
<p>your second number is {{secondnumber}}</p>
<p>your third number is {{thirdnumber}}</p>

<!--<div *ngIf= "l>m; then if1 else else1">
</div>
<ng-template #if1>
    <ng-container *ngIf= "l>n; then if2 else else2"></ng-container>
    <ng-template #if2>l is greater than n</ng-template>
    <ng-template #else2>n is greater than l</ng-template>
</ng-template>
<ng-template #else1>
    <ng-container *ngIf= "m>n; then if3 else else3"></ng-container>
    <ng-template #if3>m is greater than n</ng-template>
    <ng-template #else3>n is greater than m</ng-template>
</ng-template> --> 


<!--ngFor
it is user only for array iteration
-->
<ul *ngFor = "let x of myarray">
    <li>{{x}}</li>
</ul>
<div *ngFor = "let x of myobjectarray">
    <h2>first name is : {{x.fname}} last name is : {{x.lname}}
         & age is : {{x.age}} </h2> 
</div>
<table >
    <tr style="border: 1px solid black">
        <th style="border: 1px solid black">first name</th>
        <th style="border: 1px solid black">last name</th>
        <th style="border: 1px solid black">age</th>
    </tr>
    <tr *ngFor = "let x of myobjectarray" style="border: 1px solid black">
        <td style="border: 1px solid black">{{x.fname}}</td>
        <td style="border: 1px solid black">{{x.lname}}</td>
        <td style="border: 1px solid black">{{x.age}}</td>
    </tr>
</table>

<!--ng switch
it is similar as javascript switch-->

<div [ngSwitch] = "myfavcolor">
    <div *ngSwitchCase = "'red'" style="color:red ; font-size: 20px;">
        red div tag
    </div>
    <div *ngSwitchCase = "'blue'" style="color:blue ; font-size: 20px;">
        blue div tag
    </div>
    <div *ngSwitchCase = "'green'" style="color:green ; font-size: 20px;">
        green div tag
    </div>
    <div *ngSwitchDefault><!--if there is no match of color then default will be the output-->
        Default div tag
    </div>
</div>

<!-- task for switch case -->
<input type="text" #num/>
<button (click)="days(num.value)">click to show</button>
<p>your number is {{num.value}}</p>

<div [ngSwitch] = "num.value">
    <div *ngSwitchCase = "'1'" style="color:violet ; font-size: 20px;background-color: black;">
        this is sunday
    </div>
    <div *ngSwitchCase = "'2'" style="color:brown ; font-size: 20px;">
        this is monday
    </div>
    <div *ngSwitchCase = "'3'" style="color:green ; font-size: 20px;">
        this is tuesday
    </div>
    <div *ngSwitchCase = "'4'" style="color:red ; font-size: 20px;">
        this is wednesday
    </div>
    <div *ngSwitchCase = "'5'" style="color:yellow ; font-size: 20px;background-color: black;">
        this is thursday
    </div>
    <div *ngSwitchCase = "'6'" style="color:orchid ; font-size: 20px;background-color: black;">
        this is friday
    </div>
    <div *ngSwitchCase = "'7'" style="color:orange ; font-size: 20px; background-color: black;">
        this is saturday
    </div>
    <div *ngSwitchDefault>
        wrong input
    </div>
</div>

<!-- switch task 2 -->

<input type="number" #num1/>
<button (click)="number_1(num1.value)">click to show</button>
<p>your number is {{num1.value}}</p>

<input type="number" #num2/>
<button (click)="number_2(num2.value)">click to show</button>
<p>your number is {{num2.value}}</p>

<!--  -->
<input type="number" #operator/>
<button (click)="operation(operator.value)">enter the number 1 to 4 and click here</button>
<p>your number is {{operator.value}}</p>
<div [ngSwitch] = "operator.value">
    <div *ngSwitchCase = "1" style="color:violet ; font-size: 20px;background-color: black;">
        this is addition and your result is [num1.value + num2.value]  
    </div>
    <div *ngSwitchCase = "2" style="color:brown ; font-size: 20px;">
        this is subtraction
    </div>
    <div *ngSwitchCase = "3" style="color:green ; font-size: 20px;">
        this is multiplication
    </div>
    <div *ngSwitchCase = "4" style="color:red ; font-size: 20px;">
        this is division
    </div>
    
    <div *ngSwitchDefault>
        wrong input
    </div>
</div>
